{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Perfil</h2>
    <br>

    <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center text-sm-left">Datos bancarios</h3>
      
      <br>
      <!-- FORMULARIO DATOS BANCARIOS-->
      <form method="POST" id="creaditCardForm">
        {% csrf_token %}

        <div class="form-group">
          <label for="tipo" class="bmd-label-floating">Tarjeta</label>
          {{ form.tipo }}
        </div>

        <div class="form-group">
          <label for="nombre" class="bmd-label-floating">Nombre</label>
          {{ form.nombre }}
        </div>

        <div class="form-group">
          <label for="numero">Número</label>
          {{ form.numero }}
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fechaVencimiento">Fecha de vencimiento</label><br>
              <input value="{{form.fechaVencimiento.value|date:'m/y'}}" name="fechaVencimiento" class="form-control" type="text"/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="cvv">cvv</label><br>
              {{ form.cvv }}
            </div>
          </div>
        </div>

        <br><br>

        <div class="text-lg-left text-center">
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Guardar"/>
            <a class="btn" href="{% url 'core:profile' %}">Cancelar</a>
          </div>
        </div>

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

      </form>
      <!-- FIN FORMULARIO-->
    </div>

    <br><br><br><br>
  </div>

  </div>
</div>
{% endblock %}
