{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<style>
  #map {
    height: 80%;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-primary p-3 text-center text-lg-left rounded">Estacionamientos cercanos</h2>
  
    <!-- Mapa -->
    <div id="map"></div>
  </div>

  <div class="col-lg-6" id="arrendar">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">En arriendo</h2>

    {% for rent in rents %}
      {% if rent.estado == 'RENT' %}
      <h5>
        <span class="bg-secondary py-1 px-2" style="border-radius: 5px; font-weight: bold">En renta</span> 
        <a onclick="payRent('{{rent.pk}}')" style="cursor: pointer;"><i class="material-icons text-info">payment</i></a>
        <a onclick="removeRent('{{rent.pk}}')" style="cursor: pointer;"><i class="material-icons text-danger">close</i></a>
        {{ rent.parking }} - {{ rent.fecha|date:'d/m/y h:m' }}
      </h5>
      {% endif %}
    {% endfor %}
    {% for rent in rents %}
      {% if rent.estado == 'PAID' %}
      <h5>
        <span class="bg-success py-1 px-2" style="border-radius: 5px; font-weight: bold">Pagado</span> 
        {{ rent.fecha }} - {{ rent.duracion }} min - ${{ rent.valor }}
      </h5>
      {% endif %}
      {% if rent.estado == 'CANCELED' %}
      <h5>
        <span class="bg-danger py-1 px-2" style="border-radius: 5px; font-weight: bold">Cancelado</span> 
        {{ rent.fecha }} - {{ rent.duracion }} min - ${{ rent.valor }}
      </h5>
      {% endif %}
    {% endfor %}
  </div>

  <!-- LISTA -->
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <form id="rentForm" method="POST">
    {% csrf_token %}
    <input name="parking" type="hidden" id="parking" />
  </form>
  <form id="removeForm" method="POST">
    {% csrf_token %}
    <input name="remove" type="hidden" id="remove" />
  </form>
  <form id="paymentForm" method="POST">
    {% csrf_token %}
    <input name="payment" type="hidden" id="payment" />
  </form>
  <!-- FIN LISTA-->

</div>
{% endblock %}

{% block extrajs %}
<script>
  var geo_x;
  var geo_y;
  var map;
  var creditCard = "{{creditCard.numero}}";
  
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setPosition);
    } else {
      alert('Geolocalización no disponible.');
    }
  }

  function setPosition(position) {
    geo_x = position.coords.latitude;
    geo_y = position.coords.longitude;
    initMap()
  }

  function initMap() {
    // Map
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: geo_x, lng: geo_y},
      zoom: 17
    });
    var marker = new google.maps.Marker({
      position: {lat: geo_x, lng: geo_y},
      map: map,
	    title: 'Pocición actual',
      animation:google.maps.Animation.BOUNCE
    });

    // Parkings
    var icon = '{% static "icons/parking.icon.png" %}'
    "{% for parking in parkings %}"
    var mark = new google.maps.Marker({
        position: {
          lat: Number("{{parking.geo_x|stringformat:'f'}}"),
          lng: Number("{{parking.geo_y|stringformat:'f'}}")
        },
        map: map,
        icon: icon,
        title: "{{parking.direccion}}"
      });

      google.maps.event.addListener(mark, 'click', function() {
        if (creditCard !== '' && creditCard !== 'None' ) {
          if (confirm('¿Deseas arrendar el estacionamiento?')) {
            document.getElementById('parking').value = "{{parking.pk}}";
            document.getElementById('rentForm').submit();
          }
        } else {
          alert('Debes ingresar una tarjeta de credito antes de arrendar.');
        }
    });    
    "{% endfor %}"
  }

  function removeRent(pk) {
    if (confirm('¿Deseas cancelar el arriendo?')) {
      document.getElementById('remove').value = pk;
      document.getElementById('removeForm').submit();
    }
  }

  function payRent(pk) {
    if (confirm('¿Deseas pagar y finalizar el arriendo?')) {
      document.getElementById('payment').value = pk;
      document.getElementById('paymentForm').submit();
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVDb1W19mfeEnn4UQhpRaRrsReu8UOA6Y&callback=getLocation" async defer></script>
{% endblock %}
