<style type="text/css">
    body { background: linear-gradient(141deg, #e1bee7 0%, #9c27b0 51%, #7b1fa2 75%) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

{% extends 'base/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center pt-5">
  <div class="col-lg-4 col-sm-8 col-xs-3 jumbotron">
    <div>
      <h3 class="font-italic text-center"><strong class="text-primary">Mi</strong> Estacionamiento</h3>
      <hr>
      <h3 class="pb-3">Login</h3>

      <!-- FORMULARIO -->
      <form method="POST" id="loginForm">
        {% csrf_token %}

        <div class="form-group">
          <label for="username">Nombre de Usuario</label><br>
          <input name="username" class="form-control" type="text"/>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label><br>
          <input name="password" class="form-control" type="password"/>
        </div>

        {% if form.errors %}
        <div class="form-group">
          <div class="bg-danger mt-1 p-2">Nombre de usuario o contraseña incorrecto.</div>
        </div>  
        {% endif %}             

        <div class="form-group text-center">
          <input class="btn btn-secondary" type="submit" value="Iniciar sesión"/>
        </div>
        
      </form>
      <!-- FIN FORMULARIO-->

      <p class="text-muted pt-2">Aun no tienes cuenta?
        <a href="{% url 'core:signup_arrendatario' %}">Resgistrarse</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
