{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<style>
  #map {
    height: 100%;
    padding-top: 50px !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Mis Estacionamientos</h2>
    <br>

    <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center text-sm-left">Editar <a href="{% url 'core:parking_delete' parking.pk %}" class="color-danger" style="font-size: 12px">(Eliminar)</a></h3>
      
      <br>
      <!-- FORMULARIO DATOS BANCARIOS-->
      <form method="POST" id="parkingUpdateForm">
        {% csrf_token %}

        <div class="form-group">
          <label for="tipo" class="bmd-label-floating">Dirección</label>
          {{ form.direccion }}
        </div>

        <div class="form-group">
          <label for="ciudad" class="bmd-label-floating">Ciudad</label>
          {{ form.ciudad }}
        </div>

        <div class="form-group">
          <label for="pais" class="bmd-label-floating">País</label>
          {{ form.pais }}
        </div>

        <div class="form-group">
          <label for="valor">Valor por minuto ($)</label>
          {{ form.valor }}
        </div>

        <div class="form-group d-none">
          <label for="geo_x">Valor por minuto ($)</label>
          {{ form.geo_x }}
        </div>

        <div class="form-group d-none">
          <label for="geo_y">Valor por minuto ($)</label>
          {{ form.geo_y }}
        </div>

        <br><br>

        <p class="bg-info p-2" style="border-radius: 8px" id="info_text">*Marca la localización en el mapa.</p>

        <div class="text-lg-left text-center">
          <div class="form-group">
            <input class="btn btn-primary mr-2" type="submit" value="Guardar" id="btn_submit" disabled/>
            <a class="btn" href="{% url 'core:parking_list' %}">Cancelar</a>
          </div>
        </div>

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

      </form>
      <!-- FIN FORMULARIO-->
    </div>
  </div>

  </div>
  <div class="col-lg-6">
    <!-- <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Mis Estacionamientos</h2> -->
    <br><br><br><br>
      
    <div id="map"></div>

    

  </div>

</div>
<br><br><br><br><br><br><br>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var geo_x;
  var geo_y;
  var map;
  
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(setPosition);
    } else {
      alert('Geolocalización no disponible.');
    }
  }

  function setPosition(position) {
    geo_x = position.coords.latitude;
    geo_y = position.coords.longitude;
    initMap()
  }

  function initMap() {
    // Map
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: geo_x, lng: geo_y},
      zoom: 17
    });
    var marker = new google.maps.Marker({
      position: {lat: geo_x, lng: geo_y},
      map: map,
	    title: 'Pocición actual',
      animation:google.maps.Animation.BOUNCE
    });

    // Marks
    var icon = '{% static "icons/parking.icon.png" %}'
    var parking;

    google.maps.event.addListener(map, 'click', function(event) {
      placeMarker(map, event.latLng);
    });

    function placeMarker(map, location) {
      var btn = document.getElementById('btn_submit');
      if (btn.disabled) {
        btn.disabled = false
        var element = document.getElementById('info_text');
        element.parentNode.removeChild(element);
      }
      
      if (parking !== undefined){
        parking.setMap(null);
      }
      parking = new google.maps.Marker({
        position: location,
        map: map,
        icon: icon,
      });
      document.getElementById('id_geo_x').value = location.lat();
      document.getElementById('id_geo_y').value = location.lng();
      console.log(document.getElementById('id_geo_x').value, document.getElementById('id_geo_y').value)
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVDb1W19mfeEnn4UQhpRaRrsReu8UOA6Y&callback=getLocation" async defer></script>
{% endblock %}