{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<style>
    .dot {
        height: 18px;
        width: 18px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Estacionamientos registrados</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dirección</th>
                <th scope="col">Valor ($)</th>
                <th scope="col">Disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for parking in parkings %}
            <tr scope="row" onclick="redirect('{{parking.pk}}')">
                <th><a href="{% url 'core:parking_update' parking.pk %}"><i class="material-icons text-info" style="font-size: 20px">edit</i></a> | {{ forloop.counter }}</th>    
                <th>{{parking}}</th>                 
                <th>{{parking.valor}}</th> 
                <th>
                    <span class="dot"
                        {% if parking.disponible %} style="background-color: green"
                        {% else%} style="background-color: red"
                        {% endif %}>
                    </span>
                </th>     
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <!-- LISTA -->
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  
  <!-- FIN LISTA-->

</div>
{% endblock %}
