{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<style>
  #map {
    height: 100%;
    padding-top: 50px !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Mis Estacionamientos</h2>
    <br>

    <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center text-sm-left">Eliminar</h3>
      
      <br>
      <!-- FORMULARIO DATOS BANCARIOS-->
      <form method="POST" id="parkingDelteForm">
        {% csrf_token %}

        <div class="form-group">
          <h4>¿Deseas eliminar el estacionamiento de la dirección {{parking}}?</h4>
          <i class="text-muted">*Este registro no se podra recuperar.</i>
        </div>

        <br>

        <div class="text-lg-left text-center">
          <div class="form-group">
            <input class="btn btn-danger mr-2" type="submit" value="Eliminar"/>
            <a class="btn" href="{% url 'core:parking_list' %}">Cancelar</a>
          </div>
        </div>

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

      </form>
      <!-- FIN FORMULARIO-->
    </div>
  </div>

  </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
