{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="display-5 text-light bg-dark p-3 text-center text-lg-left rounded">Perfil</h2>
    <br>

    <div class="row">
    <div class="col-lg-6 mb-3">
      <h3 class="text-center text-sm-left">Datos personales</h3>
      <br>
      <!-- FORMULARIO DATOS PERSONALES-->
      <form method="POST" id="profileForm">
        {% csrf_token %}
        <div class="form-group">
          <label for="nombre" class="bmd-label-floating">Nombre Completo</label>
          <input name="nombre" id="name" class="form-control" type="text" {% if form.nombre.value != None %}value="{{form.nombre.value}}"{% endif %} maxlength="80"/>
        </div>

        <div class="form-group">
          <label for="direccion">Dirección</label><br>
          {{form.direccion}}
        </div>

        <div class="form-group">
          <label for="ciudad">Ciudad</label><br>
          {{form.ciudad}}
        </div>

        <div class="form-group">
          <label for="celular">Número de Teléfono</label><br>
          {{form.celular}}
        </div>

        <div class="form-group">
          <label for="sexo">Sexo</label><br>
          {{form.sexo}}
        </div>

        <div class="text-lg-left text-center">
          <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Guardar"/>
          </div>
        </div>

      </form>
      <!-- FIN FORMULARIO-->
    </div>
    
  
    <div class="col-lg-6">
      <h3 class="text-center text-sm-left">
        Datos bancarios <a class="d-md-inline d-none" href="{% url 'core:credit-card' %}" style="font-size: 14px">(editar)</a>
      </h3>
      <div class="d-md-none d-xs-block text-center">
        <a href="{% url 'core:credit-card' %}" style="font-size: 14px">(editar)</a>
      </div>
      <br>
      <!-- FORMULARIO DATOS BANCARIOS-->
      <form method="POST" id="creaditCardForm">
        {% csrf_token %}

        {% if creditCard.numero != None %}
        <div class="form-group">
          <label for="tipo" class="bmd-label-floating">Tarjeta</label>
          <select name="tipo" id="tipo" class="form-control" disabled>
            <option>{{creditCard.tipo}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="nombre" class="bmd-label-floating">Nombre</label>
          <input value="{{creditCard.nombre}}" name="nombre" class="form-control" type="text" readonly/>
        </div>
        <div class="form-group">
          <label for="numero">Número</label>
          <input value="{{creditCard.numero}}" name="numero" id="numero" class="form-control" type="text" readonly/>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <label for="fecha">Fecha de vencimiento</label><br>
            <input value="{{creditCard.fechaVencimiento|date:'m/y'}}" name="fecha" class="form-control" type="text" readonly/>
          </div>
          <div class="col-lg-6 form-group">
            <label for="cvv">cvv</label><br>
            <input value="{{creditCard.cvv}}" name="cvv" class="form-control" type="text" readonly/>
          </div>            
        </div>
        {% else %}
        <p>Aun no se ha ingreaso una Tarjeta de Credito.</p>
        {% endif %}

      </form>
      <!-- FIN FORMULARIO-->
    </div>

  </div>

  </div>
</div>
{% endblock %}
