<style type="text/css">
    body { background: linear-gradient(141deg, #e1bee7 0%, #9c27b0 51%, #7b1fa2 75%) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

{% extends 'base/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center pt-5 pb-5">
  <div class="col-lg-4 col-sm-8 col-xs-3 jumbotron">
    <div>
      <h3 class="font-italic text-center"><strong class="text-primary">Mi</strong> Estacionamiento</h3>
      <hr>
      <h3 class="pb-3">Registro como {{ role }} </h3>

      <!-- FORMULARIO -->      
      <form method="POST" id="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Nombre de Usuario</label><br>
            <input name="username" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label><br>
            <input name="email" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label for="password1">Contraseña</label><br>
            <input name="password1" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <label for="password2">Repetir Contraseña</label><br>
            <input name="password2" class="form-control" type="password"/>
        </div>

        <div class="form-group">
          <i class="text-muted">*La contraseña debe tener como minimo 8 carácteres, una letra y un número, sin carácteres especiales($,&,@, etc..).</i>
        </div>
        {% if form.errors %}
        <div class="form-group">
          <div class="bg-danger mt-1 p-2 text-light">Error, intente nuevamente.</div>
        </div>  
        {% endif %}

        <div class="form-group text-center">
          <input class="btn btn-secondary" type="submit" value="Registrarse"/>
        </div>

      <!-- FIN FORMULARIO-->

      <p class="pt-2">
        <a href="{% url 'core:login' %}" class="text-muted"><i class="material-icons">arrow_left</i>Login</a>
        <br>
        {% if role == 'Arrendatario' %}
        <a href="{% url 'core:signup_arrendador' %}" class="pl-4">registrarse como arrendador</a>
        {% else %}
        <a href="{% url 'core:signup_arrendatario' %}" class="pl-4">registrarse como arrendatario</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
